.loadpath
.recommenders

# Eclipse Core
**/.project
**/.settings

# IntelliJ IDEA
**/.idea
**/*.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Maven target
**/target/

# Bibliotecas javascript necessárias apenas durante o build
**/node_modules
**/bower_components
**/dist
